
/*
kleuren

Achtergrond Puur Wit, #FFFFFF
Tekst (Donker),Donkergrijs / Zwart,#333333
Hoofdkleur (30%), Marineblauw, #003366
Accentkleur (10%),Helder Oranje ,#FF7F00
*/
html,
body {
  box-sizing: border-box;
  background-color:#FFFFFF;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #FF7F00;
  height: 100%;
  width: 100%;
}


.navbar {
    
    background-color: #003366 !important;
    
}
#hoofdnavigatie .navbar-nav .nav-link{
    color: #FF7F00 !important; 

}
p{
    color: black !important;
}


.btn-primary{
    background-color: #003366 !important; 
    border-color: #003366 !important;
    color: #FF7F00 !important; 
}
.btn-primary:hover {
    background-color: #002244 !important;
    border-color: #002244 !important;
}
.btn-secondary{
    background-color: #003366 !important; 
    border-color: #003366 !important;
    color: #FF7F00 !important; 
}
.btn-secondary:hover {
    background-color: #002244 !important;
    border-color: #002244 !important;
}


.btn-dark {
    background-color: #003366 !important; 
    border-color: #003366 !important;
    color: #FF7F00 !important;
}
.btn-dark:hover {
    background-color: #002244 !important;
    border-color: #002244 !important;
}

.btn-outline-secondary{
    background-color: #003366 !important; 
    border-color: #003366 !important;
    color: #FF7F00 !important; 
}
.btn-outline-secondary:hover{
    background-color: #003366 !important; 
    border-color: #003366 !important;
    color: #FF7F00 !important; 
}


a.btn {
    
    color: #003366; 
}
a.btn:hover {
    color: #002244;
}




footer li {
    color: #FF7F00; 
 
}


footer li:hover {
    color: #FF9933; 
    text-decoration: underline; 
}

.card {
    height: 100%; 
}